* {
    font-family: sans-serif;
     font-weight: 100;
}
body {
    background-color:radial-gradient(circle,#999,#ccc);
    
    
}

.grid-container {
    background-color: #999;
    display: grid;
    grid-template-areas:
    "header header header header"
    "main main main aside"
    "main main main aside"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer";
    grid-template-rows: repeat(auto-fill,1fr);
    height: 90vh;
}
.grid-item{
    padding: 15px;
}
.grid-header {
    background-color: #6f9;
    grid-area: header;
    
}
.grid-main {
    background-color: #96f;
    grid-area: main;
    padding: 15px;
}
.grid-aside {
    background-color: #9f6;
    grid-area: aside;
    padding: 15px;
}

.grid-footer {
    background-color: #69f;
    grid-area: footer;
}



@media screen all (min-width:300px) {
    .grid-header {
        
        
    }
}
    
}
